

/*隱藏*/
#panel, .flip {
	
}

#panel {
  display: none;
}
.order{
	position: relative;
	margin-right: 0;
	float: left;
}
.orders{
	position: relative;
	margin-right: 0;
	float: right;
}
.small{
	font-size: 15px;
	padding: 5px;
}